<h1>Main Dashboard</h1>
<nav class="dashboard home-dashboard">
  <ul>
    <li>
      <a routerLink="/course" routerLinkActive="active">
        <i class="material-icons">assignment</i>
        <span>Courses</span>
      </a>
    </li>
    <li>
      <a routerLink="/lesson" routerLinkActive="active">
        <i class="material-icons">assessment</i>
        <span>Lessons</span>
      </a>
    </li>
    <li>
      <a routerLink="/task" routerLinkActive="active">
        <i class="material-icons">dns</i>
        <span>Tasks</span>
      </a>
    </li>
    <li>
      <a routerLink="/localization" routerLinkActive="active">
        <i class="material-icons">add_location</i>
        <span>Localize</span>
      </a>
    </li>
    <li>
      <a routerLink="/media" routerLinkActive="active">
        <i class="material-icons">monochrome_photos</i>
        <span>Media</span>
      </a>
    </li>
    <li>
      <a routerLink="/dictionary" routerLinkActive="active">
        <i class="material-icons">bookmark</i>
        <span>Dictionary</span>
      </a>
    </li>
    <li>
      <a routerLink="/language" routerLinkActive="active">
        <i class="material-icons">translate</i>
        <span>Languages</span>
      </a>
    </li>
    <li>
      <a routerLink="/country" routerLinkActive="active">
        <i class="material-icons">language</i>
        <span>Countries</span>
      </a>
    </li>
    <li>
      <a routerLink="/status" routerLinkActive="active">
        <i class="material-icons">notifications</i>
        <span>Statuses</span>
      </a>
    </li>
    <li>
      <a routerLink="/vehicle" routerLinkActive="active">
        <i class="material-icons">directions_car</i>
        <span>Vehicles</span>
      </a>
    </li>
    </ul>
</nav>