<h1>List of Dictionary Terms</h1>
<!-- <pre>{{ this.selected | json }}</pre> -->

<div id="DictionaryList">
    <form>
        <nav class="nav-component nav-component-top">
            <button class="btn btn-save" (click)="selectedItems()">
                <span>Apply</span>
            </button>
        </nav>
    </form>
  
  <p-dataTable [value]="this?.dictionary" [rows]="10" 
    [paginator]="true" 
    [pageLinks]="3" 
    [rowsPerPageOptions]="[5,10,20]" 
    [(selection)]="selectedTerms"
    (onRowSelect)="onRowSelect($event)" 
    dataKey="term_id">
    <p-column selectionMode="multiple"></p-column>
    <p-column field="term_id" header="Term Id" [sortable]="true" [filter]="true"></p-column>
    <p-column field="term" header="Term" [sortable]="true" [filter]="true"></p-column>
    <p-column field="selector" header="Selector" [sortable]="true" [filter]="true"></p-column>
    <p-footer>
        <ul>
            <li *ngFor="let term of selectedTerms" style="text-align: left">{{ term.term_id + ' - ' + term.term + ' - ' + term.selector }}</li>
        </ul>
        <br>
        <ul>
            <li *ngFor="let lang of oldTerms" style="text-align: left">{{ lang.term_id + ' - ' + lang.term + ' - ' + lang.selector }}</li>
        </ul>
    </p-footer>
  </p-dataTable>
</div>