<!--
    - vehicle_id
    - name
    - description
-->
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <nav class="nav-component nav-component-top">
        <button type="submit" class="btn btn-save" [disabled]="form.invalid">
            <span>Save Changes</span>
        </button>
    </nav>

    <h1>Vehicle Details</h1>
    <ng-container *ngIf="this?.vehicle">
        <app-vehicle-detail-form [vehicle]="this?.vehicle" [class]="'component component-form'" [parent]="form">
        </app-vehicle-detail-form>
    </ng-container>

    <pre>{{ form.value | json }}</pre>

    <nav class="nav-component">
        <button type="submit" class="btn btn-save">
            <span>Save Changes</span>
        </button>
    </nav>
</form>