
    thead {
        width: 100%;
        display: block;
        float: left;
        //background-color: #ededed;
        background-color: #505050;
        color: #ededed;
        tr {
            th {
                
                font-weight: normal;
            }
        }
    }