<h1>Group Dashboard</h1>
<nav class="inner-dashboard">
    <ul>
        <li>
            <a routerLink="/user/list" routerLinkActive="active">
                <span>List Users</span>
            </a>
        </li>
        <li>
            <a routerLink="/user/create" routerLinkActive="active">
                <span>Add User</span>
            </a>
        </li>
        <li>
            <a routerLink="/group/list" routerLinkActive="active">
                <span>List Groups</span>
            </a>
        </li>
        <li>
            <a routerLink="/group/create" routerLinkActive="active">
                <span>Add Group</span>
            </a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>