<h1>Task Dashboard</h1>
<nav class="dashboard">
  <ul>
    <li>
      <a routerLink="/task/type/view/list" routerLinkActive="active">
        <i class="material-icons">dvr</i>
        <span>View All Task Types</span>
      </a>
      </li>
      <li>
        <a routerLink="/task/type/new" routerLinkActive="active">
          <i class="material-icons">add_circle_outline</i>
          <span>Create Task Type</span>
        </a>
      </li>
      <li>
        <a routerLink="/task/type/attr/view/list" routerLinkActive="active">
          <i class="material-icons">dvr</i>
          <span>View All Task Attr</span>
        </a>
        </li>
        <li>
          <a routerLink="/task/type/attr/new" routerLinkActive="active">
            <i class="material-icons">add_circle_outline</i>
            <span>Create Task Attr</span>
          </a>
        </li>
      <li>
        <a routerLink="/task/attr/list" routerLinkActive="active">
          <i class="material-icons">dvr</i>
          <span>View Task Types with Attr Group</span>
        </a>
      </li>
    <li>
    <a routerLink="/task/list" routerLinkActive="active">
      <i class="material-icons">list</i>
      <span>View All Tasks</span>
    </a>
    </li>
    <li>
        <a routerLink="/task/0" routerLinkActive="active">
          <i class="material-icons">add_circle_outline</i>
          <span>Create Task new</span>
        </a>
        </li>
    <li>
    <a routerLink="/task/create" routerLinkActive="active">
      <i class="material-icons">add_circle_outline</i>
      <span>Create Task</span>
    </a>
    </li>
  </ul>
</nav>