<h1>Localization Dashboard</h1>
<nav class="dashboard">
  <ul>
     <li>
        <a routerLink="/localization/course" routerLinkActive="active">
          <i class="material-icons">assignment</i>
          <span>Localize Courses</span>
        </a>
      </li>
      <li>
          <a routerLink="/localization/translation/lesson" routerLinkActive="active">
            <i class="material-icons">assessment</i>
            <span>Localize Lessons</span>
          </a>
      </li>
       <li>
        <a routerLink="/localization/lesson" routerLinkActive="active">
          <i class="material-icons">assessment</i>
          <span>Localize Lessons</span>
        </a>
      </li> 
      <li>
        <a routerLink="/localization/task" routerLinkActive="active">
          <i class="material-icons">dns</i>
          <span>Localize Tasks</span>
        </a>
      </li> 
  </ul>
</nav>

