<div style="height: 100%;padding:20px;">
  <div *ngIf="taskid > 0">
    <button mat-fab style="float: right" (click)="addDictionaryTerms()">
        <mat-icon style="font-size:24px;" aria-label="Button to add a new task">add</mat-icon>
    </button>
  </div>

  <div style="clear:both; text-align: center; width: 100%;padding:20px;" *ngIf="dictionary?.length>0; else noDataFoundContent">
    <p-dataTable [immutable]=false [value]="this?.dictionary" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[2,5,10,20]" 
      selectionMode="none">
      <p-column [style]="{'width':'75px'}" [styleClass]="'small-col'" field="term_id" header="Id" [sortable]="true" [filter]="true"></p-column>
      <p-column field="term" header="Name" [sortable]="true" [filter]="true"></p-column>
      <p-column field="selector" header="Description" [sortable]="true" [filter]="true"></p-column>
      <p-column>
        <ng-template pTemplate="body" let-dict="rowData">
          <i class="material-icons" (click)='deleteLink(dict.task_dictionary_id)'>delete</i>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <ng-template #noDataFoundContent>
      <div style="clear:both;padding: 20px; width: 99%; border-radius: 10px; height:56px; border: 1px solid #777; text-align: center; margin:1vh;margin-bottom: 2vh;margin-top: 70px;">
          No terms found for this task. Please add the terms if required.
      </div>
  </ng-template>
</div>
