:host {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    color: #777;
    transition: z-index 0ms linear 150ms, opacity 150ms ease-in-out;

    &.showModal {
        z-index: 100;
        opacity: 1;
        transition: z-index 0ms linear 0ms, opacity 150ms ease-in-out;
        .modal-wrapper {
            
            .modal-frame {
                opacity: 1;
                transform: translate(-50%, -50%) scale3d(1,1,1);

            }
        }
    }
    .modal-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.25);
    
        .modal-frame {
            transition: all 350ms ease-in 0ms;
            opacity: 0;
            transform: translate(-50%, -50%) scale3d(0.95,0.95,1);

            background-color: #fff;
            float: left;
            width: 100%;
            border-radius: 0px;
            padding: 3em 1.5em 1.5em;
            border: 1px solid #ccc;
            position: absolute;
            top: 50%;
            left: 50%;
    
            transform: translate(-50%, -50%) scale(0);
            height: 90%;
            width: 80%;

            nav {
                position: relative;
                width: 100%;
                top: -3em;

                &.modal-nav {
                    position: relative;

                    &.modal-nav-top {

                        a {
                            cursor: pointer;
                            position: absolute;
                            z-index: 2;
                            font-size: 3em;
                            top: 0;

                            &.close {
                                color: #b51a39;
                                right: -0.5em;
                            }
                            &.back {
                                color: #505050;
                                left: -0.5em;
                            }
                        }
                    }
                }
            }
            .modal-content {
                float: left;
                height: 100%;
                width: 100%;
                position: relative;
                overflow-y: scroll;
                overflow-x: hidden;
                
                padding: 1em;
            }
        }
    }

}