<ng-container [ngSwitch]="this.mode">
  <div *ngSwitchCase="'dashboard'">
      <h1>Lesson Selection Type</h1>
      <nav class="dashboard">
        <ul>
            <li>
                <a (click)="this.changeType('add')">
                <i class="material-icons">list</i>
                <span>Choose from Existing</span>
              </a>
            </li>
            <li>
              <a (click)="this.changeType('create')">
                <i class="material-icons">add_circle_outline</i>
                <span>Create New</span>
              </a>
            </li>
        </ul>
      </nav>
  </div>
  <app-lesson-detail *ngSwitchCase="'create'" [modal]="true" [course_id]="this?.course_id"></app-lesson-detail>
  <app-lesson-detail *ngSwitchCase="'edit'" [modal]="true" [course_id]="this?.course_id" [lesson_id]="this?.lesson_id"></app-lesson-detail>
  <app-lesson-list *ngSwitchCase="'add'" (lesson_id)="changeType('edit', $event)" [destination]="'modal'" [modal]="true"></app-lesson-list>
</ng-container>