<h1>Lesson Dashboard</h1>
<nav class="dashboard">
  <ul>
      <li>
        <a routerLink="/lesson/type/list" routerLinkActive="active">
          <i class="material-icons">assessment</i>
          <span>View All Lesson types</span>
        </a>
      </li>
      <li>
        <a routerLink="/lesson/type/create" routerLinkActive="active">
          <i class="material-icons">add_circle_outline</i>
          <span>Create Lesson type</span>
        </a>
      </li>
      <li>
        <a routerLink="/lesson/list" routerLinkActive="active">
          <i class="material-icons">assessment</i>
          <span>View All Lessons</span>
        </a>
      </li>
      <li>
        <a routerLink="/lesson/create" routerLinkActive="active">
          <i class="material-icons">add_circle_outline</i>
          <span>Create Lesson</span>
        </a>
      </li>
      <li>
          <a routerLink="/lesson/search" routerLinkActive="active">
            <i class="material-icons">search</i>
            <span>Search Lesson</span>
          </a>
        </li>
  </ul>
</nav>